<!DOCTYPE html>
<html>
<head>
	<title>Hotel Watcher</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class='navbar navbar-static-top'>
		<div class='navbar-inner'>
			<div class='container'>
				<%= link_to "Hotel Watcher", hotels_path, class: 'brand' %>
				<ul class='nav'>
					<li class=""><%= link_to "Hotels", hotels_path %></li>
					<!-- <li class=""><%#= link_to "Rooms", rooms_path %></li> -->
				</ul>
				<ul class='nav pull-right'>
					<%= render 'layouts/settings' %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>