<div class='watchbox'>
  <%= watch_button_for @hotel %><br/><br/><span class='pull-right'><%= @hotel.watchers.count %> watchers</span>
</div>
<h1><%= @hotel.name %></h1>
<h4>Location: <%= @hotel.location_code %> | <%= @hotel.rooms.count %> rooms</h4>
<div>
  <%= link_to "Edit this Hotel", edit_hotel_path %>
</div>
<div>
  <% @hotel.taggings.each do |t| %>
  <%= t.tag.name %>
  <% end %>
</div>
<div id='commentbox'>
  <%= render @hotel.comments, commentable: @hotel %>
  <%= render_comment_form_for @hotel %>
  <%#= render 'shared/register' unless current_user %>
</div>